body{
  font-family: Segoe UI;
  background : #56BBB1;
}

.taksbar{
  color: #56BBB1;
  position: fixed;
  width: 1366px;
  height: 70px;
  left: 0px;
  top: 0px;
}

.kotakabu{
  background : #D9D7D7;
  position: absolute;
  width: 100%;
  height: 10%;
  left: 0%;
  top: 58px;
}

.mari{
  position: absolute;
  left: 36%;
	top: 7%;
	font-family: Sitka Small;
  font-size: 30px;
}

.macam{
	position: absolute;
  left: 36%;
  top: 18%;
  font-family: Berlin Sans FB;
  font-size: 25px;	
}

.java, .integer, .floating, .char, .boolean, .class, .dalam, .pada, .array, .interface{
  font-family: Berlin Sans FB;
  font-size: 20px;  
  width: 1080px;
  text-align: justify;
}

.java{
  position: absolute;
  left: 10%;
  top: 26%;
}

.A, .B{
  font-family: Tekton Pro;
  font-size: 25px;
  font-weight: bold;
}

.A{
  position: absolute;
  left: 10%;
  top: 37%;
}

.integer{
  position: absolute;
  left: 10%;
  top: 42%;
}

.a{
  position: absolute;
  left: 20%;
  top: 59%;
}

.floating{
  position: absolute;
  left: 10%;
  top: 82%;
}

.b{
  position: absolute;
  left: 20%;
  top: 99%;
}

.char{
  position: absolute;
  left: 10%;
  top: 119%;
}

.c{
  position: absolute;
  left: 20%;
  top: 149%;
}

.boolean{
  position: absolute;
  left: 10%;
  top: 200%;
}

.B{
  position: absolute;
  left: 10%;
  top: 215%;
}

.class{
  position: absolute;
  left: 10%;
  top: 220%;
}

.dalam{
  position: absolute;
  left: 10%;
  top: 235%;
}

.pada{
  position: absolute;
  left: 10%;
  top: 247%;
}

.array{
  position: absolute;
  left: 10%;
  top: 262%;
}

.interface{
  position: absolute;
  left: 10%;
  top: 277%;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 17pt;
}